<h2>Tax Estimate Calculator</h2>

<div>
  <label for="income">Income: </label>
  <input id="incomeAmountId" #incomeAmountId [(ngModel)]="incomeAmount" />

  <br>
  <button type="button" class="add-button" (click)="calculateTaxEstimate(incomeAmountId.value)">
    Calculate
  </button>

  <!-- Tax Estimate Result -->
  <div><span>Taxable Income: </span>{{result.taxableIncome}}</div>
  <div><span>Total Tax: </span>{{result.totalTaxAmount}}</div>

  <!-- Back button navigation-->
  <button type="button" (click)="goBack()">go back</button>

  <!-- Messages componet -->
  <app-messages></app-messages>
</div>